* {
    font-family: "Coiny";
}


body {
    background-color:#460067;
    background-repeat:repeat;
    background-size: auto;
    display: initial;
}

.welcome {
    font-family: "Coiny";
    display:grid;
    color:#460067;
    background-color: whitesmoke;
    text-align: center;
    font-size: large;
    text-decoration:underline;
}

.menu {
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-direction: row;
    background:whitesmoke;
    text-align: center;
    border-radius: 20px;
 }

.btn-social{
    display: flex;
}

.btn-social a{
    display: flex;
    padding: 2px;
    background-color:#460067;
    cursor: pointer;
    border-radius: 8px;
}


footer{
    background-color: whitesmoke;
    display: ruby;
    color: #460067;
    
}

.imagem img{
    margin-top: 8px ;
    

}