* {
    font-family: "Coiny";
}

body {
    background-color: #460067;
    background-size: auto;
    background-image: url("Imagens/pexels-alexandrep-junior-7736104.jpg");
}

.menu {
    display: flex;
    background:white;
    color:#460067;
    text-align: center;
 }

 .welcome {
    display:grid;
    color:#460067;
    background-color: whitesmoke;
    text-align: center;
    font-size: large;
    text-decoration:underline;
}

.Contato{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

form{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100% ;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.Contato {
    border: 1px  solid black;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: url('https://i.pinimg.com/originals/99/f3/be/99f3bef120edeecf349dbb42ac706715.jpg');
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    color: whitesmoke;
    background-size: cover ;
    background-position: center;
    overflow: hidden;

}

label{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 10px;
    margin-top: 30px;
}

input{
    background: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 80px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
.mensagem{
    text-align: center;
}
.message{
        background: rgba(255,255,255,0.3);
        height: 200px;
        width: 400px;
        line-height: 80px;
        border-radius: 20px;
        padding: 0px 20px;
        border: none;
        color: rgb(255, 255, 255);
}


button{
    background-color: rgba(26, 3, 65, 0.8);
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

footer{
    background-color: whitesmoke;
    display: ruby;
    color: #460067;
    
}

.btn-social{
    display: flex;
}

.btn-social a{
    display: flex;
    padding: 2px;
    background-color:#460067;
    cursor: pointer;
    border-radius: 8px;
}
